<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAM_ClubDeportivo">
        <activity
            android:name=".ListadoMorosos"
            android:exported="false" />
        <activity
            android:name=".GestorPagoConsultar"
            android:exported="false" />
        <activity
            android:name=".GestorPagoNuevoPago"
            android:exported="false" />
        <activity
            android:name=".GestorPagosNuevo"
            android:exported="false" />
        <activity
            android:name=".ListadosPagosHistoricos"
            android:exported="false" />
        <activity
            android:name=".ListadoClientesHistoricos"
            android:exported="false" />
        <activity
            android:name=".ListadosMenu"
            android:exported="false" />
        <activity
            android:name=".GestorClientePagos"
            android:exported="false" />
        <activity
            android:name=".GestorClienteMembresia"
            android:exported="false" />
        <activity
            android:name=".GestorClienteIdentificacion"
            android:exported="false" />
        <activity
            android:name=".GestorCliente"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>